BOT_TOKEN=your_bot_token_from_botfather
BOT_USERNAME=your_bot_username_without_at
OWNER_IDS=8762430892
DATABASE_PATH=giveaway.db
SUPPORT_LINK=https://t.me/+Vo8tTaZsz9Q5Njk9
POWERED_BY_TEXT=Powered By Madara
BANNER_URL=https://files.catbox.moe/odeutr.png
DONATE_QR=https://files.catbox.moe/nx4jci.png
LOG_LEVEL=INFO
